/**
* the secrets to (most) of our ui / ux (: 
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* mantine */
/* @import "@mantine/core/styles.css"; */

:root {
  --dark-purple: #7971ea;
  --medium-purple: #8e98f5;
  --light-purple: #dfe2fe;
  --light-blue: #b1cbfa;
  --white: #fff;

  --cabin: "Cabin", sans-serif;
  --josefin: "Josefin Sans", sans-serif;
  --raleway: "Raleway", "sans-serif";

  /* --xs: 4rem;
  --s: 8rem;
  --m: 16rem;
  --l: 24rem; */
}

/* we're taking care of our own formatting! */
button,
html,
div,
body {
  all: unset;
}
