/* styling for the background */
body {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden; /* no scrolling */
}

body::before {
  /* makes a dimming effect- put before background img */
  content: "";
  position: absolute; /* over the entire body */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* black overlay with opacity */
  z-index: -1; /* overlay is behind the content */
  pointer-events: none;
}

button,
a, /* Add any other interactive elements, like links */
.interactive-element {
  cursor: url("/assets/disc-clicker.png") 13 13, auto !important;
}

/* container to center content */
.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: white; /* Makes text visible on dark backgrounds */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds shadow for better readability */
  position: relative; /* allows shifting with transform */
  transform: translateY(-7rem); /* move content up by relative to screen */
}

/* title styling */
.homepage-title {
  font-family: var(--cabin);
  font-size: 200px;
  margin-bottom: 2rem;
}

.homepage-subtitle {
  font-family: var(--raleway);
  font-weight: 400;
  font-size: 1.3rem; /* Adjust size as needed */
  font-style: italic;
  margin-top: -2rem; /* Optional: Adjust spacing above the subtitle */
  margin-bottom: 2rem; /* Adds spacing below the subtitle */
  color: rgba(255, 255, 255, 0.8); /* Slightly lighter color than the main title */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Subtle shadow for readability */
}
