.theme-title {
  font-family: var(--josefin);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0rem;
  margin-right: 1rem;
  color: white;
}

.button-text-inline {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 100%;
  min-height: 100vh;
}
