/* Button container for layout */
.button-container {
  margin-top: -1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem; /* Spacing between buttons */
}

/* Button styling */
.homepage-button {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  justify-content: center;
  border: 3px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(223, 226, 254, 0.3); /* transparent #DFE2FE */
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease; /* smooth transition effect */
  text-align: center;
  height: 2rem;
  width: 15rem;
}

.homepage-button:hover {
  background-color: transparent;
  /* background-color: #333; */
  border: 2px solid white;
  color: white;
}
